---
layout: default
title: Blog
permalink: /blog/
---
<article>
  <h1 class="article-heading">Game Design Blog</h1>
  <p class="article-body">Things I've learned about designing games in HTML/Javascript and C</p>
</article>

<article>
  <h1 class="article-heading">Building Asteroids for the web</h1>
  <p class="article-body">
    Learn to build the arcade classic &#8220;Asteroids&#8221; from scratch as a web game.
  </p>
  <section class="grid">
    {% for blog in site.design_blog %}
    <div class="col-50">
      <h2 class="article-title">
        <a class="blog-link" href="{{ blog.url | prepend: site.baseurl }}" title="">
          Step {{ blog.step }}: {{ blog.title }}
        </a>
      </h2>
      <p class="article-body">
        {{ blog.description }}
      </p>
    </div>
    {% endfor %}
  </section>
</article>

<article>
  <h1 class="article-heading">Dev Bootcamp Blog</h1>
  <p class="article-body">
    This is the blog I wrote as part of Phase 0 of <a href="https://devbootcamp.com/">Dev Bootcamp</a>, sadly no longer operating as a web development bootcamp. During that time, I learned how to use Git version control, Ruby, HTML, and JavaScript for the first time. Some of these entries may be useful for anyone just starting to learn these skills, but they mostly just chronicle my journey as I took my first stumbling steps in the world of web development.
  </p>

  <section class="grid">
    {% for post in site.posts %}
    <div class="col-50">
      <h2 class="article-title">
        <a class="blog-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="article-body">
        {{ post.description }}
      </p>
    </div>
    {% endfor %}
  </section>
</article>
