a, a:visited {
  color: #57C;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:visited:hover {
  color: #97E;
}

body {
  background-color: #F9F5FC;
}

.control-button {
  background-color: #EEE;
  border-radius: 10px;
  color: #333;
  font-size: 20px;
  height: 36px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 36px;
}
#spacebar {
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  width: 116px;
}
.controls-row {
  display: webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
}

#container {
  background-color: #F1EEFA;
  border: 0.5em solid #AAF;
  box-shadow: 0.25em 0.25em 0.25em #444;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  width: 860px;
}
#right-container {
  display: inline-block;
  vertical-align: top;
}

#atomic-number-container {
  display: inline-block;
  margin: 4px 10px;
  width: 150px;
}

#controls-container {
  margin: 2px;
}

#element-description-container {
  border: 1px solid #DDA;
  height: 182px;
  padding: 12px;
  text-align: left;
  width: 516px;
}
#element-name {
  display: inline-block;
  margin: 0;
  width: 340px;
}
#element-description, #atomic-number {
  margin: 8px 0 0 0;
}
#level-display {
  border: 1px solid #DAD;
  display: inline-block;
  height: 120px;
  text-align: left;
  vertical-align: top;
  width: 418px;
}
#level-display p {
  margin: 0;
}
#level-left {
  float: left;
  margin: 8px;
  width: 45%;
}
#level-right {
  float: right;
  margin: 4px;
  width: 45%;
}

#tetris-grid {
  border: 1px solid #DAA;
}
#tetris-preview {
  border: 1px solid #AAD;
}
#tetris-table {
  border: 1px solid #ADA;
  display: block;
}
#table-overlay {
  position: absolute;
}
