body {
  background-color: #F9F5FC;
}

.container {
  background-color: #F1EEFA;
  border: 0.5em solid #AAF;
  box-shadow: 0.25em 0.25em 0.25em #444;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  width: 60em;
}

#tetris-grid {
  border: 1px solid #DAA;
}
#tetris-preview {
  border: 1px solid #AAD;
  display: block;
  margin-bottom: 29px;
}
#tetris-table {
  border: 1px solid #ADA;
  display: block;
}