<div class="footer-links">
  <a href="https://github.com/peternatewood" target="_blank">
    <i class="fa fa-lg fa-github" title="GitHub"></i>
    <span class="hide">Github</span>
  </a> | <a href="https://jsfiddle.net/user/peternatewood/fiddles/" target="_blank">
    <i class="fa fa-lg fa-jsfiddle" title="JSFiddle"></i>
    <span class="hide">JSFiddle</span>
  </a> | <a href="https://codepen.io/peternatewood/" target="_blank">
    <i class="fa fa-lg fa-codepen" title="CodePen"></i>
    <span class="hide">CodePen</span>
  </a> | <a href="https://peternatewood.itch.io/">
    <i class="fa fa-lg fa-gamepad" title="Itch.io"></i>
    <span class="hide">Itch.io</span>
  </a> | <a href="https://www.linkedin.com/in/peternatewood" target="_blank">
    <i class="fa fa-lg fa-linkedin-square" title="LinkedIn"></i>
    <span class="hide">LinkedIn</span>
  </a> | <a href="https://twitter.com/peternatewood" target="_blank">
    <i class="fa fa-lg fa-twitter-square" title="Twitter"></i>
    <span class="hide">Twitter</span>
  </a>
</div>
<a href="mailto:peternatewood@gmail.com" class="mail-link">
  <i class="fa fa-envelope" title="Email"></i> peternatewood@gmail.com
</a>
