<div class="footer-links">
  <a href="https://github.com/peternatewood" target="_blank">
    <i class="fa fa-lg fa-github" title="GitHub"></i>
  </a> | <a href="https://www.linkedin.com/in/peternatewood" target="_blank">
    <i class="fa fa-lg fa-linkedin-square" title="LinkedIn"></i>
  </a> | <a href="https://twitter.com/peternatewood" target="_blank">
    <i class="fa fa-lg fa-twitter-square" title="Twitter"></i>
  </a>
</div>
<a href="mailto:peternatewood@gmail.com" class="mail-link">
  <i class="fa fa-envelope" title="Email"></i> peternatewood@gmail.com
</a>
