<footer>
  <p class="footer-links">
    <a href="https://github.com/peternatewood" target="_blank">
      <span class="fa fa-github" title="GitHub"></span>
    </a> | <a href="https://www.linkedin.com/in/peternatewood" target="_blank">
      <span class="fa fa-linkedin-square" title="LinkedIn"></span>
    </a> | <a href="https://twitter.com/programmingpete" target="_blank">
      <span class="fa fa-twitter-square" title="Twitter"></span>
    </a>
  </p>
  <p>
    <span class="fa fa-envelope" title="Email"></span> peternatewood@gmail.com
  </p>
  <p id="update-date">
    Last Updated: 06 Mar 2015
  </p>
</footer>
