<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="{{ '/css/normalize.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.headshot }}{% endif %}"/>
  <meta property="og:image:alt" content="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ site.headshot_alt }}{% endif %}"/>

  <meta property="og:url" content="{% if page.permalink %}{{ page.permalink | prepend: site.url }}{% else %}{{ site.url }}{% endif %}">
  <meta property="og:type" content="website">

  <!-- Load google fonts asynchronously to improve page loading speed, especially for mobile -->
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({ google: { families: ['Lato', 'Roboto Slab', 'Share Tech Mono'] } });
  </script>

  <script type="text/javascript" src="{{ '/scripts/ready.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/scripts/code-highlighter.js' | prepend: site.baseurl }}"></script>
</head>
