<header>
  <article class="headshot-container only-tablet-up">
    <img src={{ site.headshot | prepend: site.baseurl }} alttext="my face" width="100%"/>
  </article>

  <article class="name-and-title">
    <h1 class="article-heading">
      Peter N. Wood
    </h1>
    <hr/>
    <p class="article-body">
      Professional programmer and amateur pianist
    </p>
  </article>

  <article class="headshot-container only-mobile">
    <img src={{ site.headshot | prepend: site.baseurl }} alttext="my face" width="100%"/>
  </article>
</header>
