<nav><div>
    <a class="fa fa-home nav-link" href={{ "/" | prepend: site.baseurl }} title="Home">
      <span class="nav-name">Home</span>
    </a>
  </div><div>
    <a class="fa fa-pencil nav-link" href={{ "/blog" | prepend: site.baseurl }} title="My Blog">
      <span class="nav-name">Blog</span>
    </a>
  </div><div>
    <a class="fa fa-book nav-link" href={{ "/projects" | prepend: site.baseurl }} title="Projects">
      <span class="nav-name">Projects</span>
    </a>
  </div><div>
    <a class="fa fa-user nav-link" href={{ "/about" | prepend: site.baseurl }} title="About Me">
      <span class="nav-name">About Me</span>
    </a>
  </div><div>
    <a class="fa fa-briefcase nav-link" href={{ "/resume" | prepend: site.baseurl }} title="Resume">
      <span class="nav-name">Resume</span>
    </a>
  </div></nav>
