<nav>
  <img class="headshot" id="web-headshot" src="imgs/dbc-headshot-2015-11-13.png" alttext="my face">
  <ul>
    <li>
      <a class="fa fa-home" data-page-partial="./partial-index.html" href="./" title="Home">
        <span class="nav-name">Home</span>
      </a>
    </li>
    <li>
      <a class="fa fa-pencil" data-page-partial="./blog/partial-index.html" href="./blog/index.html" title="My Blog">
        <span class="nav-name">Blog</span>
      </a>
    </li>
    <li>
      <a class="fa fa-book" data-page-partial="./projects/partial-index.html" href="./projects/index.html" title="Projects">
        <span class="nav-name">Projects</span>
      </a>
    </li>
    <li>
      <a class="fa fa-user" data-page-partial="./about/partial-index.html" href="./about/index.html" title="About Me">
        <span class="nav-name">About Me</span>
      </a>
    </li>
    <li>
      <a class="fa fa-briefcase" data-page-partial="./resume/embedded-resume.html" href="./resume/index.html" title="Resume">
        <span class="nav-name">Resume</span>
      </a>
    </li>
  </ul>

  <div>
    <a class="fa fa-home" data-page-partial="./partial-index.html" href="./" title="Home">
    </a>
  </div>
  <div>
    <a class="fa fa-pencil" data-page-partial="./blog/partial-index.html" href="./blog/index.html" title="My Blog">
    </a>
  </div>
  <div>
    <a class="fa fa-book" data-page-partial="./projects/partial-index.html" href="./projects/index.html" title="Projects">
    </a>
  </div>
  <div>
    <a class="fa fa-user" data-page-partial="./about/partial-index.html" href="./about/index.html" title="About Me">
    </a>
  </div>
  <div>
    <a class="fa fa-briefcase" data-page-partial="./resume/partial-index.html" href="./resume/index.html" title="Resume">
    </a>
  </div>
</nav>
