<article>
  <h2 class="article-heading">Resources</h2>
  <p class="article-body">
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API" target="_blank">MDN WebAudio API documentation</a><br/>
    <a href="http://blog.chrislowis.co.uk/2013/06/05/playing-notes-web-audio-api.html" target="_blank">Blog on Audio Synthesis in WebAudio by Chris Lowis</a><br/>
    <a href="https://noisehack.com/generate-noise-web-audio-api/" target="_blank">Generating Noise with WebAudio from noisehack.com</a>
  </p>
</article>
