$bp_tablet: 768px;
$bp_desktop: 1024px;
$bp_desktop_big: 1440px;

$light_blue: #E8EEFF;
$dark_blue: #10225A;
$link_blue: #37A;
$offwhite: #F0F3F3;
$green: #6A3;

$lato: 'Lato', helvetica, sans-serif;
$roboto: 'Roboto Slab', Georgia, serif;
$sharetech: 'Share Tech Mono', Courier, monospace;

@import 'custom-mixins';
