$bp_tablet: 768px;
$bp_desktop: 1024px;
$bp_desktop_big: 1440px;

$ivory: #FFFFF0;
$dark_ivory: #F0E68C;
$light_blue: #E8EEFF;
$dark_blue: #10225A;
$offwhite: #F8F8F8;
$medium_green: #260;
$dark_green: #204926;
$brown: #8F4B36;

$lato: 'Lato', helvetica, sans-serif;
$roboto: 'Roboto Slab', Georgia, serif;
$sharetech: 'Share Tech Mono', Courier, monospace;

@import 'custom-mixins';
