@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include keyframes(pactop) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@include keyframes(pacbottom) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@include keyframes(pellet) {
  0% {
    left: -160px;
  }
  100% {
    left: 100px;
  }
}

.museum-frame {
  position: relative;
  // display: block;
  color: transparent;
  font-size: 32px;
  line-height: 200px;
  height: 200px;
  width: 200px;
  border: 12px solid $medium-green;
  border-radius: 10%;
  margin: 12px auto;
  overflow: hidden;

  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: auto;
  }

  &#pac-man {
    background-color: black;
    // box-shadow: inset 0 0 8px 3px blue;

    #pellet {
      position: absolute;
      height: 40px;
      width: 40px;
      top: 80px;
      left: -160px;
      border-radius: 50%;
      background: white;
      @include animation(pellet 1s linear infinite);
    }
    #pac {
      &:before,
      &:after {
        background: yellow;
        content: '';
        height: 60px;
        width: 120px;
        position: absolute;
      }
      &:before {
        @include animation(pactop 300ms linear infinite alternate);
        border-radius: 60px 60px 0 0;
        top: 40px;
        left: 40px;
        transform-origin: 60px 60px;
      }
      &:after {
        @include animation(pacbottom 300ms linear infinite alternate);
        border-radius: 0 0 60px 60px;
        top: 100px;
        left: 40px;
        transform-origin: 60px 0;
      }
    }
  }

  &#shadow-fade {
    background: #EEE;
    color: #333;
    transition: box-shadow 1s, color 400ms;
    text-align: center;

    &:hover {
      box-shadow: inset 0 0 100px 100px black;
      color: transparent;
    }
  }

  &#spin-lock {
    &:before {
      content: '';
      background: silver;
      border-radius: 50%;
      position: absolute;
      width: 160px;
      height: 160px;
      top: 20px;
      left: 20px;
      box-shadow: inset -5px -4px 12px 1px black;
    }

    span {
      &.lock-ring {
        border: 4px solid transparent;
        border-radius: 50%;
        position: absolute;
        height: 120px;
        width: 120px;
        left: 40px;
        top: 40px;
        transition: transform 2s;
        box-sizing: border-box;

        &#ring-top {
          border-top-color: black;
        }
        &#ring-right {
          border-right-color: black;
        }
        &#ring-bottom {
          border-bottom-color: black;
        }
        &#ring-left {
          border-left-color: black;
        }
      }

      &#keyhole {
        background: black;

        &:before,
        &:after {
          content: '';
          background: inherit;
          position: absolute;
          left: 70px;
          top: 95px;
          width: 60px;
          height: 10px;
          transition: transform 2s;
          transform-origin: 30px 5px;
        }
        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }


    &:hover {
      span {
        &.lock-ring {
          &#ring-top {
            transform: rotate(765deg);
          }
          &#ring-right {
            transform: rotate(675deg);
          }
          &#ring-bottom {
            transform: rotate(225deg);
          }
          &#ring-left {
            transform: rotate(135deg);
          }
        }

        &#keyhole {
          background: $medium-green;

          &:before,
          &:after {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  &#gears {
    .gear {
      position: absolute;
      border: 12px solid sienna;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      left: 30px;
      top: 15px;
      @include animation(spin 2s linear infinite);

      &:nth-child(2) {
        height: 35px;
        width: 35px;
        top: 45px;
        left: 120px;
        @include animation(spin 2s linear infinite reverse);
      }
      &:last-child {
        top: 110px;
        left: 70px;
      }

      &:after {
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: #000;
        border-radius: 50%;
      }

      .cross {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        top: 50%;

        &:last-child {
          transform: rotate(45deg);
          transform-origin: 0 0;
        }

        &:before,
        &:after {
          content: '';
          background: sienna;
          position: absolute;
        }
        &:before {
          width: 200%;
          height: 16px;
          left: -100%;
          top: -8px;
        }
        &:after {
          width: 16px;
          height: 200%;
          left: -8px;
          top: -100%;
        }
      }
    }
  }

  &#ring-spinner {
    $ring-width: 17px;

    #ring {
      position: absolute;
      background: transparent;
      height: 158px;
      width: 158px;
      left: 21px;
      top: 21px;
      border: $ring-width solid white;
      border-radius: 50%;
      box-sizing: border-box;

      &:before,
      &:after {
        content: '';
        background: #000;
        position: absolute;
        top: -1 * ($ring-width + 1);
        width: 80px;
        height: 160px;
      }
      &:before {
        border-radius: 80px 0 0 80px;
        left: -1 * ($ring-width + 1);
        transform-origin: 80px 80px;
        @include animation(2s spin infinite);
      }
      &:after {
        border-radius: 0 80px 80px 0;
        right: -1 * ($ring-width + 1);
        transform-origin: 0px 80px;
        @include animation(2s spin infinite 400ms);
      }
    }
  }
}

@media (min-width: 600px) {
  .grid {
    margin: 0 auto;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .grid {
    width: 1200px;
  }
}
