@media screen and (min-width: $bp_desktop) {
  .only-desktop-up {
    display: block;
  }

  .nav-link {
    text-align: center;
    padding: 8px 0;
  }

  .grid > .col-33 {
    width: 31.333333%;
  }

  .image-wrapper {
    margin: 0;

    &.thumbnail {
      max-width: 480px;
    }
  }
}

@media screen and (min-width: $bp_desktop_big) {
  body {
    padding-top: 4em;
  }

  .nav-link {
    font-size: 24px;
    padding: {
      top: 14px;
      bottom: 14px;
    }
  }
  .nav-name {
    font-size: 22px;
  }
  footer {
    font-size: 24px;
  }
  .footer-links a {
    padding: {
      top: 18px;
      bottom: 18px;
    }
  }
  .mail-link {
    padding-bottom: 18px;
  }
}
