* {
  box-sizing: inherit;
}

body {
  color: $offwhite;
  background: $near_black;
  font-family: $lato;
  padding-top: 3.5rem;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: $roboto;
  margin: 0;
  width: 100%;
}
img {
  width: 100%;
}
main {
  margin: 0 auto;
  max-width: 128rem;
}
ul {
  list-style: none;
}
a {
  color: $offwhite;
  text-decoration: none;
  @include transition(200ms color);

  &:hover {
    color: #8df;
  }
}
label {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
hr {
  background: $offwhite;
  border: 0;
  height: 0.1875rem;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #332;
  color: #F8FFFF;
  font-family: $monospace;
  padding: 0.375rem 0.75rem 0.75rem;
  margin: 1em auto;
  width: 98%;
}

.hide {
  position: absolute !important;
  display: block !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  padding: 0 !important;
  margin: -1px !important;
  height: 1px !important;
  width: 1px !important;
  top: 0 !important;
  left: -999em !important;
}

canvas {
  margin: 0 auto;
  width: 100%;
}
.canvas-wrapper {
  text-align: center;
  width: 100%;
}

#canvas-button-controls {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  max-width: 48rem;
  height: 6rem;

  button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border: 0.0625rem solid #CCC;
    border-radius: 1.25rem;
    box-shadow: inset -0.25rem -0.125rem 0.25rem 0 rgba(0,0,0,0.2);
    text-indent: -999em;
    width: 6rem;
    height: 6rem;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:hover {
      background: #f0ffff;
      border-color: #aff;
    }
    &:active,
    &:focus {
      box-shadow: inset 0.25rem 0.125rem 0.25rem 0 rgba(0,0,0,0.1);
    }
  }
}

.arrow-button {
  &:after {
    border: {
      color: transparent;
      style: solid;
    }
    width: 0;
    height: 0;
    top: 50%;
  }
}
#up-arrow:after,
#down-arrow:after {
  border-width: 1rem 0.75rem;
  margin: -1.5rem auto 0;
  left: 0;
  right: 0;
}
#left-arrow:after,
#right-arrow:after {
  border-width: 0.75rem 1rem;
  margin-top: -0.75rem;
}
#up-arrow:after {
  border-bottom-color: #000;
}
#down-arrow:after {
  border-top-color: #000;
}
#left-arrow:after {
  border-right-color: #000;
  margin-left: -1.6875rem;
  left: 50%;
}
#right-arrow:after {
  border-left-color: #000;
  margin-right: -1.6875rem;
  right: 50%;
}
#fire-button {
  &:before,
  &:after {
    border-radius: 100%;
    margin: {
      left: auto;
      right: auto;
    }
    top: 50%;
    left: 0;
    right: 0;
  }
  &:before {
    box-sizing: border-box;
    border: 0.25rem solid #000;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
  }
  &:after {
    background: #000;
    margin-top: -0.5rem;
    width: 1rem;
    height: 1rem;
  }
}

.only-tablet-up,
.only-desktop-up {
  display: none;
}

nav {
  position: fixed;
  @include display-flex;
  z-index: 10;
  justify-content: space-around;
  background: $near_black;
  box-shadow: 0 0 12px 0 rgba(255,255,255,0.1);
  width: 100%;
  top: 0;
  left: 0;
}
.nav-link {
  opacity: 0;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.75rem 0;
  width: 20%;
  @include animation(1200ms flicker);

  $delays: 250 600 750 50 400;
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      @include animation-delay(#{nth($delays, $i)}ms);
    }
  }
}
.nav-name {
  display: none;
}

article {
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem auto;
  width: 94%;

  .col-50,
  .col-33 {
    background: $dark_gray;
    padding: 0.5rem 0.75rem;
    margin: 0.75rem auto;
  }
}
.article-heading {
  font-size: 1.8rem;
  padding: 0.25rem 0;
}
.article-title {
  padding: 0.25rem 0;

  a {
    display: inline-block;
  }
}
.article-body {
  line-height: 1.4;
  padding: 0.5rem 0.125rem;
  margin: 0;

  &.quote {
    background: $dark_gray;
    font: 1em $roboto;
    margin: 0.5rem 0.75rem;
  }
}
.article-preview {
  display: none;
}
.image-wrapper,
.youtube-embed-wrapper {
  display: block;
  margin: 0 auto;
  width: 94%;
  max-width: 37.5rem;

  &.thumbnail {
    max-width: 20rem;
  }
}
.youtube-embed-wrapper {
  iframe {
    width: 100%;
  }
}
.code {
  background: $dark_gray;
  font-family: $monospace;
  font-size: 0.875rem;
  padding: 0.25rem 0.375rem;
}
// Code colors
.code-red     { color: #F37; }
.code-orange  { color: #FA3; }
.code-yellow  { color: #FF7; }
.code-green   { color: #AE4; }
.code-cyan    { color: #8DF; }
.code-blue    { color: #48F; }
.code-purple  { color: #C7F; }
.code-gray    { color: #999; }

footer {
  font: 1rem $roboto;
  text-align: center;
}
.footer-links a {
  display: inline-block;
  padding: 0.75rem 0.375rem;
}
.mail-link {
  display: inline-block;
  padding: 0 0 0.75rem;
}
