@media screen and (min-width: $bp_tablet) {
  body {
    padding-top: 3em;
  }

  .only-tablet-up {
    display: block;
  }

  .nav-link {
    font-size: 18px;
  }
  .nav-name {
    display: inline;
    font: 16px $roboto;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid > .col-50 {
    margin: {
      left: 1%;
      right: 1%;
    }
    width: 48%;
  }

  .article-title {
    font-size: 1.6em;
  }
  .article-body {
    font-size: 1.25em;
    line-height: 1.5;
  }

  .article-preview {
    display: block;
    background: #FFF;
    padding: 4px 8px;
    margin: 8px 0 4px;
  }

  article .grid .article-preview {
    background: $offwhite;
  }
}
