.debug {
	border: 0px solid red
}

.container {
	width: 90%;
	margin: 0 auto;
}
.container-85 {
	width: 85%;
	margin: 0 auto;
}
.columns-2 {
	display: inline-block;
	width: 45%;
	margin: 0 auto;
}
.columns-3 {
	display: inline-block;
	width: 30%;
	margin: 0 auto;
}

main li {
	border-radius: 0.5em;
	border-width: 4px 0 0 4px;
	padding: ;
}

#end-message {}
#console-display {}
#console-input {
	type: text;
	maxlength: 78;
	width: 95%;
}

.myblg--pic {
	width: 10em;
}

a:link {
	text-decoration: none;
	font-weight: bold;
	color: #565Bb1;
}
a:visited {
	color: #565Bb1;
}
a:hover {
	color: #868BF1;
}
a:active {
	color: #868BF1;
}
nav a:link {
	text-decoration: none;
	font-weight: bold;
	color: #8f4b36;
}
nav a:visited {
	color: #8f4b36;
}
nav a:hover {
	color: #204926;
}
nav a:active {
	color: #8f4b36;
}
aside a:link {
	text-decoration: none;
	font-weight: bold;
	color: #8f4b36;
}
aside a:visited {
	color: #8f4b36;
}
aside a:hover {
	color: #204926;
}
aside a:active {
	color: #8f4b36;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.bgc-fog { background-color: #f9f8fe; }
.bgc-pink { background-color: #ffdddd; }
.bgc-drk-green { background-color: #204926 }
.bgc-olive { background-color: #41924b; }
.bgc-lightblue { background-color: #e5f6ff; }
.bgc-plywood { background-color: #EFEAC1; }
.bgc-moss-green { background-color: #6C8938; }
.bgc-pale-green { background-color: #A8BC85; }
.bgc-lt-indigo { background-color: #868BF1; }
.bgc-skyblue { background-color: #C4DDFF; }
.bgc-black { background-color: black; }

.bdc-softblue { border-color: #3080ca; }
.bdc-drk-green { border-color: #204926; }
.bdc-olive { border-color: #41924b; }
.bdc-oak { border-color: #8f4b36; }

.c-drk-grey { color: #555; }
.c-red { color: #D43D3A; }
.c-nearblack { color: #2b2a36; }
.c-fog { color: #f9f8fe; }
.c-pink { color: #ffdddd; }
.c-drk-green { color: #204926 }
.c-olive { color: #41924b; }
.c-softblue { color: #40a0ca; }
.c-plywood { color: #EFEAC1;}
.c-oak { color: #8f4b36; }
.c-softred { color: #cd0000; }
.c-drk-blue { color: #0000cd; }
.c-drk-orange { color: #b36504; }
.c-moss-green { color: #6C8938; }
.c-pale-green { color: #A8BC85; }
.c-lt-indigo { color: #868BF1; }
.c-skyblue { color: #C4DDFF; }

.ff-trebuchet { font-family: Trebuchet MS, sans-serif; }
.ff-serif { font-family: serif; }
.ff-courier { font-family: "Courier New"; courier; monospace;}
